:root {
    --main-header: #FF7518;
    --highlight-text: #62632A;
    --header: #A0522D;
    --logo: #030303;
    --footer: #FF7518;
    --primary-text: #030303;
    --secondary-text: #f4f4f4;
    --button-color: #030303;
    --button-background: #f4f4f4;
    --button-background-hover: #ecf2fd;
    --secondary-heading: #f4f4f4;
    --tertiary-text: #030303;
}
