:root {
    --main-header: #7742BD;
    --highlight-text: #471560;
    --header: #9267CB;
    --logo: #9267CB;
    --footer: #B542BD;
    --primary-text: #030303;
    --secondary-text: #f1f1f1;
    --button-color: #661c88;
    --button-background: #f4f4f4;
    --button-background-hover: #ecf2fd;
    --secondary-heading: #661c88;
    --tertiary-text: #f1f1f1;
}
