html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    display: grid;
    grid-template-rows: 140px 1fr auto;
    min-height: 100vh;
    background-color: #f4f4f4;
    overflow: auto;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    padding: 20px;
}

nav {
    align-items: center;
    background-color: #476f95;
    color: #f4f4f4;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.download-link {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

h2, h3 {
    color: #448680;
}

.align-center {
    text-align: center;
}

.list-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.logo {
    align-items: center;
    display: flex;
    width: 100%;
}

.logo-text {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
}

.name {
    color: #f4f4f4;
    font-size: 26px;
    padding-bottom: 10px;
}

.title {
    color: #f4f4f4;
    font-size: 16px;
}

.header-container {
    align-items: center;
    background-color: #7593af;
    color: #f4f4f4;
    display: flex;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 10px;
    justify-content: space-between;
}

.header-buttons {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
}

.button-primary {
    display: flex;
    align-items: center;
    color: #0f3050;
    border: 1px solid #0f3050;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-weight: 700;
    cursor: pointer;
    height: 30px;
}

.button-primary:hover {
    background-color: #ecf2fd;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.tab-link {
    color: #f4f4f4;
    text-decoration: none;
}

footer {
    background-color: #448680;
    padding: 15px;
}

.resource {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.resources-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.resources-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resources-heading {
    color: #f4f4f4;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.resources-item {
    align-items: flex-start;
    display: flex;
    font-size: 14px;
    padding-bottom: 5px;
}

.resources-item a {
    color: #f4f4f4;
    font-size: 14px;
    text-decoration: none;
}

.footer {
    color: #f4f4f4;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
}

.footer a {
    color: #f4f4f4;
    text-decoration: none;
}

.tab-container {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
}

.tab {
    cursor: pointer;
    padding-bottom: 10px;
    text-align: center;
    width: 150px;
}

.tab:hover {
    border-bottom: 2px solid #fff;
}

.main-wrapper {
    padding: 20px;
}

.main-content {
    color: #303030;
}

.content-paragraph {
    padding-top: 5px;
    padding-bottom: 10px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.full {
    height: 100%;
    width: 100%;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.stock-image {
    height: 100%;
    width: 100%;
}

.stock-image-medical {
    height: 500px;
    width: 100%;
}

.stock-image-group {
    height: 600px;
    width: 750px;
}

.stock-image-appt {
    height: 500px;
    width: 100%;
}

.align-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.telemedicine-link, .exercise-link, .privacy-link {
    color: #448680;
    font-weight: 600;
}

.header-link {
    color: #f4f4f4;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}

.breadcrumb-wrapper {
    display: flex;
    align-items: center;
}

.is-bold {
    font-weight: 700;
}

.color-blue-1 {
    color: #d1dbe4;
}

.color-blue-2 {
    color: #a3b7ca;
}

.color-blue-3 {
    color: #7593af;
}

.color-blue-4 {
    color: #476f95;
}

.color-blue-5 {
    color: #194a7a;
}

.color-blue-6 {
    color: #143f69;
}

.color-green-1 {
    color: #78938a;
}

.color-green-2 {
    color: #448680;
}

li::marker {
    color: #448680; 
}

.bold-100 {
    font-weight: 100;
}

.bold-200 {
    font-weight: 200;
}

.bold-300 {
    font-weight: 300;
}

.bold-400 {
    font-weight: 400;
}

.bold-500 {
    font-weight: 500;
}

.bold-600 {
    font-weight: 600;
}

.bold-700 {
    font-weight: 700;
}

.bold-800 {
    font-weight: 800;
}

.bold-900 {
    font-weight: 900;
}

.call-office {
    display: flex;
    align-items: center;
}

.phone-number {
    color:  #f1f1f1;
    font-weight: 700;
    font-size: 18px;
}

.phone-img {
    padding-top: 7px;
    padding-right: 3px;
}

hr {
    border: none;
    border-top: 1px solid #f1f1f1;
    margin: 20px 0;
}

.team-wrapper {
    display: flex;
    column-gap: 20px;
    padding: 10px;
}

.team-image {
    height: 400px;
    width: 300px;
}

.team-member {
    display: flex;
    flex-direction: column;
}

.team-member-name, .refill-heading {
    color: #0f3050;
    font-size: 18px;
    font-weight: 700;
}

.refill-heading {
    border-bottom: 1px solid #0f3050;
}

.team-member-title {
    color: #448680;
    font-size: 14px;
    font-weight: 700;
}

.team-member-bio {
    line-height: 1.5;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.refill-item {
    font-size: 14px;
    padding: 5px;
}

table {
    border: 1px solid #448680;
    border-collapse: collapse;
}

th {
    color: #f1f1f1;
    background-color: #448680;
}

td, th {
    border: 1px solid #448680;
    padding: 5px;
}