/* @import 'themes/red-white-blue.css'; */
/* @import 'themes/blue-pastel.css'; */
@import 'themes/purple-ish.css';
/* @import 'themes/halloween.css'; */
/* @import 'themes/christmas.css'; */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    display: grid;
    grid-template-rows: 140px 1fr auto;
    min-height: 100vh;
    background-color: #f4f4f4;
    overflow: auto;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    padding: 20px;
}

nav {
    align-items: center;
    background-color: var(--main-header);
    color: var(--primary-text);
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.download-link {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

h2, h3 {
    color: var(--highlight-text);
}

.align-center {
    text-align: center;
}

.list-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.logo {
    align-items: center;
    display: flex;
    width: 100%;
    padding-left: 20px;
}

.logo-text {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;
}

.name {
    color: var(--secondary-text);
    font-size: 26px;
    padding-bottom: 10px;
}

.title {
    color: var(--secondary-text);
    font-size: 16px;
}

.header-container {
    align-items: center;
    background-color: var(--header);
    color: var(--secondary-text);
    display: flex;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 10px;
    justify-content: space-between;
}

.header-buttons {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
}

.button-primary {
    display: flex;
    align-items: center;
    color: var(--button-color);
    border-radius: 5px;
    background-color: var(--button-background);
    font-weight: 700;
    cursor: pointer;
    height: 30px;
}

.button-primary:hover {
    background-color: var(--button-background-hover);
}

.nav-container {
    display: flex;
    justify-content: center;
}

.tab-link {
    color: var(--secondary-text);
    text-decoration: none;
}

svg polygon {
    fill: var(--logo);
}

.donload-icon svg path {
    stroke: var(--highlight-text) !important;
}

footer {
    background-color: var(--footer);
    color: var(--secondary-text);
    padding: 15px;
}

.resource {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.resources-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.resources-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resources-heading {
    color: var(--tertiary-text);
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.resources-item {
    align-items: flex-start;
    display: flex;
    font-size: 14px;
    padding-bottom: 5px;
}

.resources-item a {
    color: var(--secondary-text);
    font-size: 14px;
    text-decoration: none;
}

.footer {
    color: var(--tertiary-text);
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
}

.footer a {
    color: var(--tertiary-text);
    text-decoration: none;
}

.tab-container {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
}

.tab {
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 150px;
}

.tab:hover {
    border-bottom: 2px solid var(--secondary-text);
}

.main-wrapper {
    padding: 20px;
}

.main-content {
    color: var(--primary-text);
}

.content-paragraph {
    padding-top: 5px;
    padding-bottom: 10px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-columns-services {
    display: grid;
    grid-template-columns: auto 800px;
}

.two-columns-mens-health {
    display: grid;
    grid-template-columns: auto 800px;
}

.two-columns-insurance {
    display: grid;
    grid-template-columns: auto 800px;
}

.two-columns-appt {
    display: grid;
    grid-template-columns: auto 800px;
}

.full {
    height: 100%;
    width: 100%;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.group--img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.map {
    height: 500px;
    width: 100%;
}

.stock-image {
    height: 100%;
    width: 100%;
}

.stock-image-insurance {
    height: 533px;
    width: 800px;
}

.stock-image-group {
    height: 528px;
    width: 800px;
}

.stock-image-appt {
    height: 533px;
    width: 800px;
}

.stock-image-mens-health {
    height: 800px;
    width: 800px;
}

.align-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.telemedicine-link, .exercise-link, .privacy-link {
    color: var(--highlight-text);
    font-weight: 600;
}

.header-link {
    color: var(--secondary-text);
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}

.breadcrumb-wrapper {
    display: flex;
    align-items: center;
}

.is-bold {
    font-weight: 700;
}

li::marker {
    color: var(--highlight-text); 
}

.bold-100 {
    font-weight: 100;
}

.bold-200 {
    font-weight: 200;
}

.bold-300 {
    font-weight: 300;
}

.bold-400 {
    font-weight: 400;
}

.bold-500 {
    font-weight: 500;
}

.bold-600 {
    font-weight: 600;
}

.bold-700 {
    font-weight: 700;
}

.bold-800 {
    font-weight: 800;
}

.bold-900 {
    font-weight: 900;
}

.call-office {
    display: flex;
    align-items: center;
}

.phone-number {
    color: var(--secondary-text);
    font-weight: 700;
    font-size: 18px;
}

.phone-img {
    padding-top: 7px;
    padding-right: 3px;
}

hr {
    border: none;
    border-top: 1px solid var(--secondary-text);
    margin: 20px 0;
}

.main-section {
    color: var(--highlight-text);
    font-size: 18px;
}

.team-wrapper {
    display: flex;
    column-gap: 20px;
    padding: 10px;
}

.team-image {
    height: 400px;
    width: 300px;
}

.team-member {
    display: flex;
    flex-direction: column;
}

.team-member-name, .refill-heading {
    color: var(--secondary-heading);
    font-size: 18px;
    font-weight: 700;
}

.refill-heading {
    border-bottom: 1px solid var(--secondary-heading);
}

.team-member-title {
    color: var(--highlight-text);
    font-size: 14px;
    font-weight: 700;
}

.team-member-bio {
    line-height: 1.5;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.refill-item {
    font-size: 14px;
    padding: 5px;
}

table {
    border: 1px solid var(--highlight-text);
    border-collapse: collapse;
}

th {
    background-color: var(--header);
    color: var(--secondary-text);
    border: 1px solid var(--highlight-text);
}

td, th {
    border: 1px solid var(--highlight-text);
    padding: 5px;
}